{% extends 'base.html.twig' %}

{%  block body %}
    <h1>Bienvenue dans ce blog</h1>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt omnis placeat facere explicabo earum vero
    sunt reiciendis? Eum facilis perspiciatis omnis! Suscipit blanditiis incidunt porro quisqiam. Iste magnam aliquid,
        consectetur cupiditate cum qui, soluta, consequatur totam temporibus dolorem est. Minima!</p>
    <p>Ut veritatis non dolorem velit, in voluptatem itaque nisi sunt dolores illum et molestias a, incidunt id
    porro unde rerum hic deleniti quos cum fugit accusantium! Fugiat possimus ab quo, rem mollitia neque soluta accusantium
    reiciendis impedit eum culpa ipsum!</p>

{%  endblock %}